#confirm{
  padding:25px 0px;
  margin-top:25px;
  display: flex;
  justify-content: space-evenly; 
  background-color: rgba(0, 0, 0, .2);
  border: .5px solid rgba(255,255,255,.1);
}

#confirm button{
  padding:5px 25px;
  border: .5px solid white;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 15px;
  color: white;
}

#confirm button[disabled]{
  cursor: not-allowed;
}


#upload-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#up-label{
  cursor: pointer;
  padding:10px 20px;
  color: white;
  border: .5px solid white;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 15px;
}

#up-label:hover, #confirm button:hover{
  background-color: rgba(0, 0, 0, .2);
}
