<!DOCTYPE html>
<html lang='en'>
<head>
<title></title>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>

<!--FA icons-->
<script src="https://kit.fontawesome.com/50fbfc41d7.js" crossorigin="anonymous"></script>

<!--Googe fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
<!--Local CSS files-->
<link rel="stylesheet" href='/assets/css/base.css'>
{% block css %} {% endblock %}
</head>

<body>
<div id='bg'>
    <div id='fg'>
        <div id='main' class='uk-position-center '>
            <div id='logo' class='uk-flex uk-flex-middle uk-flex-between'>
                <a id='logo-link' href='/'>Starfile</a>
                <div id='links'>
                    <a href="/" class='fas fa-question-circle fa-lg' ></a>
                    <a href='/' class='fas fa-envelope fa-lg'></a>
                    <a href='/' class='fab fa-discord fa-lg'></a>
                </div>
            </div>
        {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
{% block js %}{% endblock %}
</html>