<!DOCTYPE html>
<html lang='en'>
<head>
<title></title>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>

<!--FA icons-->
<script src="https://kit.fontawesome.com/50fbfc41d7.js" crossorigin="anonymous"></script>

<!--Googe fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
<!--Local CSS files-->
<link rel="stylesheet" href='/assets/css/gallery.css'>
</head>

<body>
    <iframe id='fake-frame' name='fake-frame' style="display: none;"></iframe>
<div id='bg'>
    <div id='fg'>
        <div id='form-ct2'>
        <div id="form-container" style="display: none;">
            <p>Password:</p>
            <form>
                <input id='field' type="password" name='password'>
                <input id='button' type="submit" value="Send">
            </form>
        </div>
    </div>
    <div id='main'>
        <form id='photo-form' action='/upload/image' method="POST" enctype="multipart/form-data" style="display: none;" target="fake-frame">
            <input type='file' id='photo-upload' name='file'></form>
            </form>
        <div id="gallery-container" >
            <div id='add-photo' class='gallery-element'>
                <p>+</p>
            </div>
        </div>
    </div>
    </div>
</div>
<script src="/assets/js/login.js"></script>
</body>
</html>